# Upload data using read_csv fuction

In [1]:
%config IPCompleter.greedy = True
%config Completer.use_jedi = False

In [2]:
import pandas as pd
import os 
import numpy as np

In [4]:
main_path="C:\\Users\\Annie\\Documents\\GitHub\\machine-learning-course\\datasets"
file_name="titanic\\titanic3.csv"
full_path= os.path.join(main_path,file_name)

relative url

In [5]:
df = pd.read_csv(full_path)

In [6]:
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

read.csv has 30 arguments

Filepath absolute url:

In [ ]:
filepath="C:\\Users\\Annie\\Documents\\GitHub\\machine-learning-course\\datasets\\titanic\\titanic3.csv"

## Ejemplos de los parametros de la función read_csv

pd.read_csv(filepath,sep=",",dtype={"column_name":np.float64},header=0,names={"ingresos","edad"},skiprows=12,index_col=None,skip_blank_lines=False, na_filter=False)

In [7]:
df2 = pd.read_csv(main_path + "/" + "customer-churn-model\Customer Churn Model.txt")

In [8]:
df2.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

In [9]:
df2.columns.values

array(['State', 'Account Length', 'Area Code', 'Phone', "Int'l Plan",
       'VMail Plan', 'VMail Message', 'Day Mins', 'Day Calls',
       'Day Charge', 'Eve Mins', 'Eve Calls', 'Eve Charge', 'Night Mins',
       'Night Calls', 'Night Charge', 'Intl Mins', 'Intl Calls',
       'Intl Charge', 'CustServ Calls', 'Churn?'], dtype=object)

## 23. Cambio de nombre de cabeceras por las proporcionadas en otro fichero

No se añade header= None y se cambia por df_col_list

In [16]:
df_cols = pd.read_csv(main_path+ "/" + "customer-churn-model\Customer Churn Columns.csv")
df_col_list = df_cols["Column_Names"].to_list()
df_col_list
df3 = pd.read_csv(main_path + "/" + "customer-churn-model\Customer Churn Model.txt",header = None,names = df_col_list)
df3.columns.values

array(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M',
       'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U'], dtype=object)